* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000958;
    --secondary-color: #656689;
    --third-color: #ff5b2e;
    --four-color: #48496a;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.container {
    width: 1170px;
    margin: 0 auto;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    --height: 56px;
    min-width: 130px;
    padding: 0 20px;
    text-align: center;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgba(255, 91, 46, 0.6);
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: 100rem;
    background: #fff;
    color: var(--third-color);
    transition: all 0.2s linear;
    font-size: 1.6rem;
    font-weight: 500;
}

.btn:hover {
    background-color: var(--third-color);
    color: #fff;
    cursor: pointer;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    font-weight: 500;
    padding: 8px 18px;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.navbar__link:hover,
.navbar__link.navbar__link--active {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    font-size: 1.4rem;
    color: #000958;
}

.header-action__btn:hover {
    background-color: #000958;
}
